* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

table {
    margin: 1rem 0;
    border-collapse: collapse;

    thead {
        font-weight: bold;
    }

    th,
    td {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.25rem 0.5rem;
    }

    tbody tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
